<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="shortcut icon" href="{{url_for('static', path='/imgs/favicon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/bootstrap.min.css')}}">
</head>

<body style="padding-top: 65px;">
    {# navbar #}
    {% include "nav.html" %}

    {# main content of a page #}
    {% block content %}

    {% endblock content %}

    <script src="{{url_for('static', path='/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', path='/js/bootstrap.min.js')}}"></script>
</body>

</html>